%h1== Bookmarks for #{h(@domain.domain)}

%table.bookmarks
  %thead
    %tr
      %th
      %th Username
      %th Title
      %th Notes
      %th Tags
      %th Bookmarked at
  %tbody
    - @domain.bookmarks.each_with_index do |bookmark, index|
      %tr
        %td= index+1
        %td.username= link_to_delicious_user(bookmark.username)
        %td.title= link_to h(bookmark.title), domain_url_bookmarks_path(@domain, bookmark.url)
        %td.notes= h(bookmark.notes)
        %td.tags= linked_tags(bookmark.tags)
        %td.bookmarked_at= h(bookmark.bookmarked_at)