<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Del.icio.us tags</title>
  </head>
  <body>
    <h1><%= rs.current_site.title %></h1>
    <blockquote>&quot;<%= rs.current_site.description %>&quot;</blockquote>
    
    <ul>
      <% rs.each do |number_of_tags, bookmarks| %>
        <% bookmarks.each do |bookmark| %>
          <li>
            <span>(<%= current_site.tags_in_common(bookmark).join(', ') %>)</span>
            <a href="<%= bookmark.url %>" title="<%= bookmark.title %>" target="_blank"><%= bookmark.title %></a>
            <span><%= bookmark.description %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>