%h1== Urls for #{h(@domain.domain)}

%table.urls
  %thead
    %tr
      %th
      %th Title
      %th Url
      %th Url hash
      %th Total posts
      %th Top tags
  %tbody
    - @urls.each_with_index do |url, index|
      %tr
        %td= index+1
        %td.title= h(url.title)
        %td.url= link_to_source_url(url)
        %td.urlHash= link_to_delicious_url_history(url)
        %td.totalPosts= link_to h(url.total_posts || 0), url_path(@domain.domain_hash, url.url_hash)
        %td.topTags= linked_tag_list(url.top_tags)