%h1== Urls for #{h(@domain.domain)}

%table.urls
  %thead
    %tr
      %th Title
      %th Url
      %th Url hash
      %th Total posts
      %th Top tags
  %tbody
    - @urls.each do |url|
      %tr
        %td.title= h(url.title)
        %td.url= link_to_source_url(url)
        %td.urlHash= link_to_delicious_url_history(url)
        %td.totalPosts= h(url.total_posts || 0)
        %td.topTags= linked_tag_list(url.top_tags)