%h1 All domains

%p
  = link_to 'New domain', new_admin_domain_path

%table.domains
  %thead
    %tr
      %th id
      %th domain
      %th domain hash
      %th created at
      %th updated at
  %tbody
    - @domains.each do |domain|
      %tr
        %td= h(domain.id)
        %td= h(domain.domain)
        %td= h(domain.domain_hash)
        %td= h(domain.created_at)
        %td= h(domain.updated_at)