%h1== #{link_to_domain_host(@domain)} events

%table.domain_events
  %thead
    %tr
      %th id
      %th description
      %th started at
      %th finished at
      %th duration
  %tbody
    - @domain_events.each do |domain_event|
      - content_tag_for(:tr, domain_event) do
        %td.id= h(domain_event.id)
        %td.description= h(domain_event.description)
        %td.started_at= h(domain_event.started_at)
        %td.finished_at= h(domain_event.finished_at)
        %td.duration= distance_of_time_in_words(domain_event.started_at, domain_event.finished_at) if domain_event.finished_at
        
- content_for :title do
  == Event history for #{domain_host(@domain)} at deliciolytics