<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test Trackback Page</title>
  </head>
  <body>
    <h1>Test Trackback Page</h1>
    <p><a href="/trackback" rel="trackback">Trackback from your own site</a></p>
    <h2>Trackbacks</h2>
    <% trackbacks.each do |trackback| %>
      <% rendered_trackback = TrackbackRenderer.new(trackback) %>
      <div class="trackback">
        <% blog_name = trackback['blog_name'] && !trackback['blog_name'].empty? ? "<span class=\"trackbackBlogName\">#{trackback['blog_name']}</span>" : 'Anonymous' %>
        By <a class="trackbackPermalink" rel="nofollow" href="<%= trackback['url'] %>"><%= blog_name %></a>
        
        <abbr class="trackbackReceivedAt" title="<%= trackback['received_at'] %>">
          on <%= rendered_trackback.received_on %>
          at <%= rendered_trackback.received_at %>
        </abbr>
        
        <% if trackback['title'] && !trackback['title'].empty? %>
          <p class="trackbackTitle"><%= trackback['title'] %></p>
        <% end %>
        
        <% if trackback['excerpt'] && !trackback['excerpt'].empty? %>
          <p>[...] <span class="trackbackExcerpt"><%= trackback['excerpt'] %></span> [...]</p>
        <% end %>
      </div>
      <hr/>
    <% end %>
  </body>
</html>
