%h1== #{link_to_domain_host(@domain)} bookmarks

%table.bookmarks
  %thead
    %tr
      %th
      %th Username
      %th Title
      %th Notes
      %th Tags
      %th Bookmarked at
  %tbody
    - @domain.bookmarks.each_with_index do |bookmark, index|
      %tr
        %td= index+1
        %td.username= link_to_delicious_user(bookmark.username)
        %td.title= link_to h(bookmark.title), domain_url_bookmarks_path(@domain, bookmark.url)
        %td.notes= h(bookmark.notes)
        %td.tags= linked_tags(bookmark.tags)
        %td.bookmarked_at= h(bookmark.bookmarked_at)
        
- content_for(:atom_feed) do
  %link{ :rel => "alternate", :type => "application/atom+xml", :title => "Bookmarks for #{@domain.domain}", :href => "#{domain_bookmarks_url(@domain, :format => 'atom')}" }
  
- content_for :title do
  == Bookmarks for #{domain_host(@domain)} at deliciolytics